body{
	margin: 0px;
	background-color: black;
}

.div-produtos{
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-family: Calibri, Times New Roman;
}


.div-card{
	width: 230px;
	height: 400px;
	background-color: #C0C0C0;
	float: left;
	margin: 5px;
	padding: 5px;
}

.div-poster{
	width: 100%;
	height: 72%;
}

.div-poster img{
	width: 100%;
	height: 100%;
}

.div-titulo{
	width: 100%;
	background-color: #00553e;
	color: white;
}

h3{
	margin: 0px;
}

.div-descricao{
	width: 100%;
}

.div-rodape{
	width: 100%;
	margin-top: 5px;
}

.button-rodape{
	width: 100%;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 5px;
}

.button-rodape:hover{
	background-color: #41ba9c;
}

.button-comprado{
	background-color: green;
	width: 100%;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 5px;
}

button {
	background-color: #26855d;
	font-size: 25px;
	font-family: Calibri, Times New Roman;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	text-align: justify;
	box-shadow: 2px 2px 1px -0.4px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
}