.div-cabeçalho{
	width: 100%;
	height: 5%;
	background-color: red;
}
.div-slogan{
	position: relative;
	top: 40%;
	left: 30%;
}
.div-menu{
	background-color: #C0C0C0;
	width: 100%;
	height: 20%;
	display: flex;   
	justify-content: space-between;
}
.div-logo{
	width: 20%;
	height: 70%;
}
.div-menu-options{
	position: relative;
	top: 45%;
	right: 1%;
}
.div-menu-icons{
	position: relative;
	top: 45%;
	right: 1%;
}
.div-social{
	width: 50%;
	height: 95%;
	margin: auto;

}
.social img{
	width: 50px;
	height: 50px;

}
iframe{
	width: 50%;
	height: 50%;
}
/* Set the size of the div element that contains the map */
#map {
  height: 40%;
  /* The height is 400 pixels */
  width: 40%;
  /* The width is the width of the web page */
}
text{
	color:white;
	font-size: 150%;
}
.redes{
	display: flex;   
	justify-content: space-between;
}
.depoimento{
	height: 10%;
	width: 50%;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
